<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Immink-pset5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B56124FC1CEF3CB20067576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B56125101CEF3CB30067576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B561251B1CEF3CB30067576F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
